
body {
    background-image: url("images/bg-intro-desktop.png");
    background-color:rgba(240,128,130);
    font-family: "Poppins";
}

main {
    display: flex;
}

.conteudo-principal {
    width: 40%;
    height: 40px;
    margin: 6em 6em;
    color: white;
    font-size: 20px;
    min-width: 350px;
    max-width: 1440px
}

.titulo-form {
    box-sizing: border-box;
    width: 90%;
    margin: 1em;
    background:mediumpurple;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 10px 10px 10px rgb(253, 148, 162);

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    margin: 2em 1em;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgb(253, 148, 162);
    padding: 1rem 1.5rem;
}

input:first-of-type {
    margin-top: 2em;
}

input {
    box-sizing: border-box;
    font-weight: 600;
    width: 85%;
    height: 3rem;
    margin-top: 1rem;
    padding-left: 1rem;
    border: 1px solid gray;
    border-radius: 0.3rem;
}

.btn_submit {
    background-color:rgb(32, 209, 106);
    cursor: pointer;
    box-shadow: 10px 10px 10px gray;
    color: white;
}

.rodape-input {
    font-size: 11px;
    color: gray;
    font-weight: bold;
}

a {
    color: rgb(238, 70, 70);
}

footer {
    font-size: 12px;
    font-weight: bold;
    color: grey;
}
